.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.column{
    flex-direction:column;
}
.wd{
    width: 139px;
}
.hi{
    height: 139px;
}
.m-right{
    margin-right: 12px;
}
.m-top{
    margin-top: 0;
}